
#main{
    display: flex;
    width: 100%;
    height: 92.5vh; 
    color:#c736a0;
    justify-content: center;
} 

.main-container{
    width: 100%;
    display: flex;
    height: 92.5vh; 
    color:#c736a0;
}
.container-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 7%;
}
.container{
    width: 100%;
    padding: 15px;
    align-content: center;
}
.socials{
    width: 18px;
    height: 18px;
    padding: 10px;
    background-color: none;
}
.socials-links{
    color: #ee2e2e;
}
h1{
    padding: 10px 0px ;
    margin: 0px;
    font-size: 2.5em;
    display: inline;
}
h2{
    padding: 10px 0px ;
    margin: 0px;
    font-size: 1.5em;
    display: inline;
}

p{
    font-size: 14px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#span{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}
.robot{
    width: 50%;
}
button{
    text-align: center;
    align-content: center;
    padding: 8.5px 20px;
    border: 0;
    border-radius: 5px;
    font-size: 10px;
    background-color: #000;
    color: #ee2e2e;
    border: 1px solid #ee2e2e;
}
button:hover {
    color: white;
    background-color:#ee2e2e;
}
button:active{
    background-color: transparent; 
    outline: none; 
}
button:disabled:hover {
  background-color: transparent;  
  cursor: not-allowed;
}

/*Mobile*/
@media (max-width:470px){
    .robot{
        
        scale: 0.5;
        overflow: visible !important;
        position: relative;
        top: -60%;
        right: 25%;
    }
    .container{
        width: auto;
        position: relative;
        top: 130%;
    }
    .container-links{
        padding: 5px;
        position: relative;
        top: 130%;
        right: -45%;
        order: 2;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .main-container{
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    #main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1em;
    }
    p{
        font-size: 10px;
    }
    #span{
        font-size: 15px;
    }
    #button-center{
        padding-top: 10px;
        display: flex;
        justify-content: center;
    }
    button{
        padding: 7px 18px;
    }
    .socials{
        width: 16px;
        height: 16px;
    }
}

@media (min-width:471px) and (max-width:767px){
    
    .robot{
        overflow: visible !important;
        scale: 0.7;
        position: relative;
        top: -50%;
    }
    .container{
        padding-right: 10%;
        position: relative;
        top: 185%;
    }
    .container-links{
        position: relative;
        top: 125%;
        padding: 5px;
    }
    #main{
        display: flex;
        flex-direction: column;
    }
    h1{ 
        font-size: 1.5em;
    }
    h2{
        font-size: 1em;
    }
    p{
        font-size: 10px;
    }
    #span{
        font-size: 15px;
    }
    #button-center{
        display: flex;
        justify-content: center;
    }
    button{
        padding: 7px 18px;
        margin-top: 15px;
    }
    .socials{
        width: 16px;
        height: 16px;
    }
}